In [16]:
#importing python libraries
import pandas
import numpy
# Project DataFrame
project_df = pandas.DataFrame(
    {
        'ID': ['A001', 'A002', 'A003', 'A004', 'A005', 'A002', 'A005', 'A003', 'A001', 'A003', 'A001', 'A004', 'A004', 'A005'],
        'Project': ['Project 1', 'Project 2', 'Project 3', 'Project 4', 'Project 5', 'Project 6', 'Project 7', 'Project 8', 'Project 9', 'Project 10', 'Project 11', 'Project 12', 'Project 13', 'Project 14'],
        'Cost': [1002000, 2000000, 4500000, 5500000, None, 680000, 400000, 350000, None, 300000, 2000000, 1000000, 3000000, 200000],
        'Status': ['Finished', 'Ongoing', 'Finished', 'Ongoing', 'Finished', 'Failed', 'Finished', 'Failed', 'Ongoing', 'Finished', 'Failed', 'Ongoing', 'Finished', 'Finished']
    }
)
# Employee DataFrame
employee_df = pandas.DataFrame(
    {
        'ID': ['A001', 'A002', 'A003', 'A004', 'A005'],
        'Name': ['John Alter', 'Alice Luxumberg', 'Tom Sabestine', 'Nina Adgra', 'Amy Johny'],
        'Gender': ['M', 'F', 'M', 'F', 'F'],
        'City': ['Paris', 'London', 'Berlin', 'Newyork', 'Madrid'],
        'Age': [25, 27, 29, 31, 30]
    }
)
#Seniority level DataFrame
seniority_df = pandas.DataFrame(
    {
        'ID': ['A001', 'A002', 'A003', 'A004', 'A005'],
        'Designation Level': [2, 2, 3, 2, 3]
    }
)

# Save DataFrames to CSV files
project_df.to_csv('ProjectDataFrame.csv', index=False)
employee_df.to_csv('EmployeeDataFrame.csv', index=False)
seniority_df.to_csv('SenioriryDataFrame.csv', index=False)
# Read the CSV files
project_df_read = pandas.read_csv('ProjectDataFrame.csv')
employee_df_read = pandas.read_csv('EmployeeDataFrame.csv')
seniority_df_read = pandas.read_csv('SenioriryDataFrame.csv')
#printing all dataframes
print(project_df_read)
print()
print(employee_df_read)
print()
print(seniority_df_read)

      ID     Project       Cost    Status
0   A001   Project 1  1002000.0  Finished
1   A002   Project 2  2000000.0   Ongoing
2   A003   Project 3  4500000.0  Finished
3   A004   Project 4  5500000.0   Ongoing
4   A005   Project 5        NaN  Finished
5   A002   Project 6   680000.0    Failed
6   A005   Project 7   400000.0  Finished
7   A003   Project 8   350000.0    Failed
8   A001   Project 9        NaN   Ongoing
9   A003  Project 10   300000.0  Finished
10  A001  Project 11  2000000.0    Failed
11  A004  Project 12  1000000.0   Ongoing
12  A004  Project 13  3000000.0  Finished
13  A005  Project 14   200000.0  Finished

     ID             Name Gender     City  Age
0  A001       John Alter      M    Paris   25
1  A002  Alice Luxumberg      F   London   27
2  A003    Tom Sabestine      M   Berlin   29
3  A004       Nina Adgra      F  Newyork   31
4  A005        Amy Johny      F   Madrid   30

     ID  Designation Level
0  A001                  2
1  A002                  2
2  A003                  3
3  A004                  2
4  A005                  3

# Task 2

In [17]:
#Printing project dataframe
print(project_df_read)

costs = project_df_read['Cost']
# Initialize variables for the running average
total = 0
count = 0
new_costs = []
# Calculate running average and replace missing values
for cost in costs:
    if pandas.notna(cost):
        total += cost
        count += 1
        new_costs.append(cost)
    else:
        new_costs.append(total/count)
# Update the DataFrame with the new 'Cost' values
project_df_read['Cost'] = new_costs
print()
# Display the DataFrame after replacing missing values
print(project_df_read)
#Save the modified DataFrame
project_df_read.to_csv('UpdatedProjectDataFrame.csv', index=False)

      ID     Project       Cost    Status
0   A001   Project 1  1002000.0  Finished
1   A002   Project 2  2000000.0   Ongoing
2   A003   Project 3  4500000.0  Finished
3   A004   Project 4  5500000.0   Ongoing
4   A005   Project 5        NaN  Finished
5   A002   Project 6   680000.0    Failed
6   A005   Project 7   400000.0  Finished
7   A003   Project 8   350000.0    Failed
8   A001   Project 9        NaN   Ongoing
9   A003  Project 10   300000.0  Finished
10  A001  Project 11  2000000.0    Failed
11  A004  Project 12  1000000.0   Ongoing
12  A004  Project 13  3000000.0  Finished
13  A005  Project 14   200000.0  Finished

      ID     Project          Cost    Status
0   A001   Project 1  1.002000e+06  Finished
1   A002   Project 2  2.000000e+06   Ongoing
2   A003   Project 3  4.500000e+06  Finished
3   A004   Project 4  5.500000e+06   Ongoing
4   A005   Project 5  3.250500e+06  Finished
5   A002   Project 6  6.800000e+05    Failed
6   A005   Project 7  4.000000e+05  Finished
7   A003   Project 8  3.500000e+05    Failed
8   A001   Project 9  2.061714e+06   Ongoing
9   A003  Project 10  3.000000e+05  Finished
10  A001  Project 11  2.000000e+06    Failed
11  A004  Project 12  1.000000e+06   Ongoing
12  A004  Project 13  3.000000e+06  Finished
13  A005  Project 14  2.000000e+05  Finished

# Task 3

In [18]:


#Split the "Name" column into "First Name" and "Last Name"
names = employee_df_read.Name.str.split(' ')
employee_df_read['First Name'] = [x[0] for x in names]
employee_df_read['Last Name'] = [x[1] for x in names]
#Drop the original "Name" column
employee_df_read.drop('Name', axis=1, inplace=True)
print(employee_df_read)
# Save the modified DataFrame to a new CSV file
employee_df_read.to_csv('Modified_EmployeeDataFrame.csv', index=False)

     ID Gender     City  Age First Name  Last Name
0  A001      M    Paris   25       John      Alter
1  A002      F   London   27      Alice  Luxumberg
2  A003      M   Berlin   29        Tom  Sabestine
3  A004      F  Newyork   31       Nina      Adgra
4  A005      F   Madrid   30        Amy      Johny

# Task 4

In [21]:
# Reading the DataFrames from CSV files
project_df_read = pandas.read_csv('UpdatedProjectDataFrame.csv')
employee_df_read = pandas.read_csv('Modified_EmployeeDataFrame.csv')
seniority_df_read = pandas.read_csv('SenioriryDataFrame.csv')

#Merge the project and enployee dataframe on 'ID'
Final = pandas.merge(project_df_read, employee_df_read, on='ID')
#Merge the resulting dataframe with seniority dataframe on 'ID'
Final = pandas.merge(Final, seniority_df_read, on='ID')
#dispaying final result
print(Final)
# Saving the final DataFrame to a new CSV file
Final.to_csv('Final_MergedDataFrame.csv', index=False)

      ID     Project          Cost    Status Gender     City  Age First Name  \
0   A001   Project 1  1.002000e+06  Finished      M    Paris   25       John
1   A001   Project 9  2.061714e+06   Ongoing      M    Paris   25       John
2   A001  Project 11  2.000000e+06    Failed      M    Paris   25       John
3   A002   Project 2  2.000000e+06   Ongoing      F   London   27      Alice
4   A002   Project 6  6.800000e+05    Failed      F   London   27      Alice
5   A003   Project 3  4.500000e+06  Finished      M   Berlin   29        Tom
6   A003   Project 8  3.500000e+05    Failed      M   Berlin   29        Tom
7   A003  Project 10  3.000000e+05  Finished      M   Berlin   29        Tom
8   A004   Project 4  5.500000e+06   Ongoing      F  Newyork   31       Nina
9   A004  Project 12  1.000000e+06   Ongoing      F  Newyork   31       Nina
10  A004  Project 13  3.000000e+06  Finished      F  Newyork   31       Nina
11  A005   Project 5  3.250500e+06  Finished      F   Madrid   30        Amy
12  A005   Project 7  4.000000e+05  Finished      F   Madrid   30        Amy
13  A005  Project 14  2.000000e+05  Finished      F   Madrid   30        Amy

    Last Name  Designation Level
0       Alter                  2
1       Alter                  2
2       Alter                  2
3   Luxumberg                  2
4   Luxumberg                  2
5   Sabestine                  3
6   Sabestine                  3
7   Sabestine                  3
8       Adgra                  2
9       Adgra                  2
10      Adgra                  2
11      Johny                  3
12      Johny                  3
13      Johny                  3

# Task 5

In [22]:
# Load the Final DataFrame
Final = pandas.read_csv('Final_MergedDataFrame.csv')
completed_projects = Final['Status']=='Finished'
# Compute the Bonus
Final['Bonus'] = Final['Cost'].where(completed_projects) * 5/100  
# Display the DataFrame after adding the Bonus column
print(Final)
# Save the updated DataFrame
Final.to_csv('final.csv', index=False)

      ID     Project          Cost    Status Gender     City  Age First Name  \
0   A001   Project 1  1.002000e+06  Finished      M    Paris   25       John
1   A001   Project 9  2.061714e+06   Ongoing      M    Paris   25       John
2   A001  Project 11  2.000000e+06    Failed      M    Paris   25       John
3   A002   Project 2  2.000000e+06   Ongoing      F   London   27      Alice
4   A002   Project 6  6.800000e+05    Failed      F   London   27      Alice
5   A003   Project 3  4.500000e+06  Finished      M   Berlin   29        Tom
6   A003   Project 8  3.500000e+05    Failed      M   Berlin   29        Tom
7   A003  Project 10  3.000000e+05  Finished      M   Berlin   29        Tom
8   A004   Project 4  5.500000e+06   Ongoing      F  Newyork   31       Nina
9   A004  Project 12  1.000000e+06   Ongoing      F  Newyork   31       Nina
10  A004  Project 13  3.000000e+06  Finished      F  Newyork   31       Nina
11  A005   Project 5  3.250500e+06  Finished      F   Madrid   30        Amy
12  A005   Project 7  4.000000e+05  Finished      F   Madrid   30        Amy
13  A005  Project 14  2.000000e+05  Finished      F   Madrid   30        Amy

    Last Name  Designation Level     Bonus
0       Alter                  2   50100.0
1       Alter                  2       NaN
2       Alter                  2       NaN
3   Luxumberg                  2       NaN
4   Luxumberg                  2       NaN
5   Sabestine                  3  225000.0
6   Sabestine                  3       NaN
7   Sabestine                  3   15000.0
8       Adgra                  2       NaN
9       Adgra                  2       NaN
10      Adgra                  2  150000.0
11      Johny                  3  162525.0
12      Johny                  3   20000.0
13      Johny                  3   10000.0

# Task 6

In [23]:
# Load the Final DataFrame
Final = pandas.read_csv('final.csv')
#Demote the designation level by 1 for employees whose projects have a status of "fail"
Final['Designation Level'] = Final['Designation Level'].where(Final['Status'] != 'Failed', Final['Designation Level'] - 1)
# Filter out the records of employees whose designation level is above 4
Final = Final[Final['Designation Level'] < 4]
# Display the updated DataFrame
print(Final)
# Save the updated DataFrame to a new CSV file
Final.to_csv('Updated_Final.csv', index=False)

      ID     Project          Cost    Status Gender     City  Age First Name  \
0   A001   Project 1  1.002000e+06  Finished      M    Paris   25       John
1   A001   Project 9  2.061714e+06   Ongoing      M    Paris   25       John
2   A001  Project 11  2.000000e+06    Failed      M    Paris   25       John
3   A002   Project 2  2.000000e+06   Ongoing      F   London   27      Alice
4   A002   Project 6  6.800000e+05    Failed      F   London   27      Alice
5   A003   Project 3  4.500000e+06  Finished      M   Berlin   29        Tom
6   A003   Project 8  3.500000e+05    Failed      M   Berlin   29        Tom
7   A003  Project 10  3.000000e+05  Finished      M   Berlin   29        Tom
8   A004   Project 4  5.500000e+06   Ongoing      F  Newyork   31       Nina
9   A004  Project 12  1.000000e+06   Ongoing      F  Newyork   31       Nina
10  A004  Project 13  3.000000e+06  Finished      F  Newyork   31       Nina
11  A005   Project 5  3.250500e+06  Finished      F   Madrid   30        Amy
12  A005   Project 7  4.000000e+05  Finished      F   Madrid   30        Amy
13  A005  Project 14  2.000000e+05  Finished      F   Madrid   30        Amy

    Last Name  Designation Level     Bonus
0       Alter                  2   50100.0
1       Alter                  2       NaN
2       Alter                  1       NaN
3   Luxumberg                  2       NaN
4   Luxumberg                  1       NaN
5   Sabestine                  3  225000.0
6   Sabestine                  2       NaN
7   Sabestine                  3   15000.0
8       Adgra                  2       NaN
9       Adgra                  2       NaN
10      Adgra                  2  150000.0
11      Johny                  3  162525.0
12      Johny                  3   20000.0
13      Johny                  3   10000.0

# Task 7

In [24]:
# Load the Final DataFrame
Final = pandas.read_csv('Updated_Final.csv')
# Add 'Mr.' or 'Mrs.' prefix to the 'First Name' column based on the 'Gender' column
Final['First Name'] = numpy.where(Final['Gender'] == 'M',  'Mr ' + Final['First Name'], 'Mrs ' + Final['First Name'])
# Drop the 'Gender' column
Final.drop('Gender', axis=1, inplace=True)
# Display the DataFrame after modification
print(Final)
# Save the modified DataFrame to CSV file
Final.to_csv('Modified_Final.csv', index=False)

      ID     Project          Cost    Status     City  Age First Name  \
0   A001   Project 1  1.002000e+06  Finished    Paris   25    Mr John
1   A001   Project 9  2.061714e+06   Ongoing    Paris   25    Mr John
2   A001  Project 11  2.000000e+06    Failed    Paris   25    Mr John
3   A002   Project 2  2.000000e+06   Ongoing   London   27  Mrs Alice
4   A002   Project 6  6.800000e+05    Failed   London   27  Mrs Alice
5   A003   Project 3  4.500000e+06  Finished   Berlin   29     Mr Tom
6   A003   Project 8  3.500000e+05    Failed   Berlin   29     Mr Tom
7   A003  Project 10  3.000000e+05  Finished   Berlin   29     Mr Tom
8   A004   Project 4  5.500000e+06   Ongoing  Newyork   31   Mrs Nina
9   A004  Project 12  1.000000e+06   Ongoing  Newyork   31   Mrs Nina
10  A004  Project 13  3.000000e+06  Finished  Newyork   31   Mrs Nina
11  A005   Project 5  3.250500e+06  Finished   Madrid   30    Mrs Amy
12  A005   Project 7  4.000000e+05  Finished   Madrid   30    Mrs Amy
13  A005  Project 14  2.000000e+05  Finished   Madrid   30    Mrs Amy

    Last Name  Designation Level     Bonus
0       Alter                  2   50100.0
1       Alter                  2       NaN
2       Alter                  1       NaN
3   Luxumberg                  2       NaN
4   Luxumberg                  1       NaN
5   Sabestine                  3  225000.0
6   Sabestine                  2       NaN
7   Sabestine                  3   15000.0
8       Adgra                  2       NaN
9       Adgra                  2       NaN
10      Adgra                  2  150000.0
11      Johny                  3  162525.0
12      Johny                  3   20000.0
13      Johny                  3   10000.0

# Task 8

In [27]:
# Load the Final DataFrame from CSV
Final= pandas.read_csv('Modified_Final.csv')
# Promote designation level by 1 for employees whose age is more than 29 years
for index, row in Final.iterrows():
    if row['Age'] > 29:
        Final.at[index, 'Designation Level'] = row['Designation Level'] + 1

# Display the DataFrame after modification
print(Final)
# Save the modified DataFrame to CSV file
Final.to_csv('Modified_Final_Task8.csv', index=False)

      ID     Project          Cost    Status     City  Age First Name  \
0   A001   Project 1  1.002000e+06  Finished    Paris   25    Mr John
1   A001   Project 9  2.061714e+06   Ongoing    Paris   25    Mr John
2   A001  Project 11  2.000000e+06    Failed    Paris   25    Mr John
3   A002   Project 2  2.000000e+06   Ongoing   London   27  Mrs Alice
4   A002   Project 6  6.800000e+05    Failed   London   27  Mrs Alice
5   A003   Project 3  4.500000e+06  Finished   Berlin   29     Mr Tom
6   A003   Project 8  3.500000e+05    Failed   Berlin   29     Mr Tom
7   A003  Project 10  3.000000e+05  Finished   Berlin   29     Mr Tom
8   A004   Project 4  5.500000e+06   Ongoing  Newyork   31   Mrs Nina
9   A004  Project 12  1.000000e+06   Ongoing  Newyork   31   Mrs Nina
10  A004  Project 13  3.000000e+06  Finished  Newyork   31   Mrs Nina
11  A005   Project 5  3.250500e+06  Finished   Madrid   30    Mrs Amy
12  A005   Project 7  4.000000e+05  Finished   Madrid   30    Mrs Amy
13  A005  Project 14  2.000000e+05  Finished   Madrid   30    Mrs Amy

    Last Name  Designation Level     Bonus
0       Alter                  2   50100.0
1       Alter                  2       NaN
2       Alter                  1       NaN
3   Luxumberg                  2       NaN
4   Luxumberg                  1       NaN
5   Sabestine                  3  225000.0
6   Sabestine                  2       NaN
7   Sabestine                  3   15000.0
8       Adgra                  3       NaN
9       Adgra                  3       NaN
10      Adgra                  3  150000.0
11      Johny                  4  162525.0
12      Johny                  4   20000.0
13      Johny                  4   10000.0

# Task 9

In [28]:
# Load the Final DataFrame from CSV
Final= pandas.read_csv('Modified_Final_Task8.csv')
# Create TotalProjCost DataFrame with ID, First Name, and Cost columns
TotalProjCost = Final[['ID', 'First Name', 'Cost']]
# Group by ID and First Name and sum the project costs
TotalProjCost = TotalProjCost.groupby(['ID', 'First Name']).sum().reset_index()
#Rename the 'Cost' column to 'Total Cost'
TotalProjCost = TotalProjCost.rename(columns={'Cost': 'Total cost'})
# Display the TotalProjCost DataFrame
print(TotalProjCost)
# Save the modified TotalProjCost DataFrame to CSV file
TotalProjCost.to_csv('TotalProjCost.csv', index=False)

     ID First Name    Total cost
0  A001    Mr John  5.063714e+06
1  A002  Mrs Alice  2.680000e+06
2  A003     Mr Tom  5.150000e+06
3  A004   Mrs Nina  9.500000e+06
4  A005    Mrs Amy  3.850500e+06

# Task 10

In [31]:
# Read the Employee DataFrame from CSV file
employee_df_read = pandas.read_csv('Modified_EmployeeDataFrame.csv')
#Filter employees whose city name contains the letter "o" and print the filtered DataFrame
print(employee_df_read[numpy.where(employee_df_read['City'].str.contains('o'), True, False)])
# Save the filtered DataFrame to CSV file
employee_df_read.to_csv('Employees_With_O_In_City.csv', index=False)

     ID Gender     City  Age First Name  Last Name
1  A002      F   London   27      Alice  Luxumberg
3  A004      F  Newyork   31       Nina      Adgra